@import '../../commonStyles/variables.scss';
@import '../../commonStyles/scss/fontawesome.scss';
@import "../../commonStyles/scss/solid.scss";

.pet-profile{
    min-height: calc(100vh - 100px);
    display: flex;

    .pet-info{
        margin: 30px;
        width: 45%;

        .pet-name{
            font-size: 30px;
            font-style: oblique;
        }

        .short-info{
            display: flex;
            justify-content: space-between;
            margin: 20px 0;

            .column{
                display: flex;

                .icon{
                    font-size: 50px;
                    color: green;
                    margin-right: 5px;
                    
                    @extend %fa-icon;
                    @extend .fas;
                }

                &.temper{
                    .dog.icon:before {
                            content: fa-content($fa-var-dog);
                    }
                    .cat.icon:before {
                        content: fa-content($fa-var-cat);
                }
                }

                &.special-characteristics{
                    .icon:before {
                            content: fa-content($fa-var-check-circle);
                    }
                }

                &.current-place{
                    .icon:before {
                        content: fa-content($fa-var-map-marker-alt);
                    }
                }

                li{
                    margin: 3px 0;
                    text-transform: capitalize; 
                }
            }
        }
    }

    .pet-images{
        background-color: green;
        display: flex;
        align-items: center;
        width: 50%;
    }
    
    .image-gallery{
        margin: auto;
    }
}
