.pet-profile{
    min-height: calc(100vh - 100px);
    display: flex;
}

.info-item{
    display: flex;
    flex-direction: row;
}

.pet-images{
    background-color: darkolivegreen;
    display: flex;
    align-items: center;
    width: 50%;
}

.image-gallery{
    margin: auto;
}