.pet-card{
    width: 300px;
    border: 1px green solid;
    margin-bottom: 20px;
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Firefox */
    break-inside: avoid;
}

.pet-card img{
    width: 300px;
}